h1 {
    text-align: center;
  }

  .first {
    background-color: rgb(235, 200, 84);
    font-size: 20px;
    height: 50px;
    text-align: center;
    width: 200px;
    left: 500px;
    display: block;
    position: relative;
  }

  .second {
    background-color: rgb(219, 219, 219);
    font-size: 20px;
    height: 50px;
    text-align: center;
    width: 300px;
    left: 300px;
    display: inline-block;
    position: relative;
  }

  .third {
    background-color: rgb(170, 142, 106);
    font-size: 20px;
    height: 50px;
    text-align: center;
    width: 300px;
    left: 300px;
    display: inline-block;
    position: relative
  }
  h3 {
    text-align: center;
  }
  li {
    text-align: center;
  }
  footer {
    font-weight: bold;
    padding-left: 435px;
    padding-top: 10px;
  }